.header-pages{
    .titular-galeria{
        h1{
        color: $color-tercero ;
        margin-top: 167px;
        margin-left: auto;
        margin-right: auto;
        font-size: 103px;
        width: 450px;
    }
    }
}
.contenedor-grupo1{
        display: grid;
        background-color: $color-secundario;
        grid-template-columns:  1fr;
        grid-template-rows:  1fr;
        gap: 50px;
    .titulo-galeria-cg1{
        h3{
            color: black;
            font-size: 50px;
            text-align: center;
            padding: 10px;
            margin-top: 50px;
            border-radius: 10px;
            background-image: linear-gradient(to right, $color-principal, $color-tercero, #981cda);
            text-decoration: underline;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            }
    }
    img{
        max-width: 500px;
        height: auto;
        margin-bottom: 50px;
        transition: all 3s;
        margin-left: auto;
        margin-right: auto;
        &:hover{
            width: 550px;
            transform: scale(1.1);
        }
        }
}
.contenedor-grupo2{
    display: grid;
    background-color: $color-secundario;
    grid-template-columns:  1fr;
    grid-template-rows:  1fr;
    gap: 50px;
    .titulo-galeria-cg2{
        h3{
            text-align: center;
            color: black;
            font-size: 50px;
            border-radius: 10px;
            padding: 10px;
            margin-top: 50px;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            background-image: linear-gradient(to right, $color-principal, $color-tercero, #981cda);
            text-decoration: underline;
        }
    }
    img{
        max-width: 500px;
        height: auto;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        }
}
@media (max-device-width:600px){
    .header-pages{
        width: 100vw;
        .titular-galeria{
            h1{
            font-size: 4em;
         }
        }
    }
    .contenedor-grupo1{
        width: 100%;
        img{
            max-width: 300px;
            height: auto;
        }
        .titulo-galeria-cg1{
            padding-top: 50px;
            h3{
                margin: auto;
                font-size: 2em;
                color: black;
                background-image: linear-gradient(to right, $color-principal, $color-tercero, #981cda);
                text-decoration: underline;
                border-radius: 10px;
                width: 300px;
            }
         }
        }
    .contenedor-grupo2{
        width: 100%;
        img{
            max-width: 300px;
            height: auto;
        }
        .titulo-galeria-cg2{
            h3{
                margin: auto;
                font-size: 2em;
                color: black;
                background-image: linear-gradient(to right, $color-principal, $color-tercero, #981cda);
                text-decoration: underline;
                border-radius: 10px;
                width: 300px;
            }
        }
    }   

    }


